*.olean
*~
junk/
/_target
/leanpkg.path
out*.cpp
*.asm
TAGS

.lake/
/lake-packages

*.o
.gdb_history
bench-duckdb
bench-filtered-spmv
bench-matmul
bench-sqlite
bench-taco
bench-tpch-q[0-9]
bench-wcoj

# data files (see Makefile)
sqlite3.c
sqlite3.h
sqlite-amalgamation-*
sqlite3/
libduckdb-*
duckdb_cli-*
duckdb/
tmp-*.duckdb
data/
gen*.c

*.svg
*.csv
*.pdf
