/build
/lake-packages

*.o
.gdb_history
bench-duckdb
bench-sqlite
bench-tpch-q[0-9]
bench-wcoj

# data files (see Makefile)
sqlite3.c
sqlite3.h
sqlite-amalgamation-*
sqlite3/
libduckdb-*
duckdb_cli-*
duckdb/
tmp.duckdb
TPC-H.db
TPC-H-*.db
tpch-csv-*/
wcoj-x*.db
wcoj-csv-*/
